
*{

    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';

}

:root{
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: black;
    color: var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

.Logo{
    height:230px;
    width: 250px;
}

.banner{
    display:flex;
    margin-left: auto;
    align-items:center;
    text-align:left;   
    height:360px; 
    background-color: black;
    background-size: contain;
    /* background-image: image-set("./Images/VortexGamingLogo.png"); */
    background-repeat: no-repeat;
}

.banner-img{   
    display: inline-block;
    margin-left: auto;
    height:360px; 
    width: max-content;
    background-image: image-set("./Images/VortexGamingLogo.png"); 
}
.message{
    margin: 0 2rem;
    padding-top: 5px ;
    color: var(--textColor);
    text-decoration: none;
}
div .parent {
    display:flex;
}

div .Left-side-panel {
    height: 100%;
    width: 25%;
    background-color: #FF5F1F;
    color: var(--textColor);
}

.Right-side-panel{
    display: ruby;
    text-align: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

.Game-container-outer{
    height: 500px;
    width: 250px;
    margin: 5px;
    background-color: #FF5F1F;

}


.img {
    height: 200px;
    width: 200px;
    margin: 30px;
    background-color: #29335c;

}

.GC-Bttn a{
    display: flex;
    margin: 30px;
    color:#eee;
    background-color: #29335c;

}

.GC-Bttn a:hover{
    color:#eee;
    background-color: #DB2B39;
}

.icon {
    display: flex;
    margin: 30px;
    background-color: #29335c;

}

@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top:0;
        left:0;
        height: 100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #FF5F1F;
        transition: 1s;
        transform: translateY(-100vh); /* transition for the page */

    }

    header .responsive_nav{
        transform: none;
    }



}


