
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
    text-decoration: none;

}

:root{
    --mainColor: #a00639;
    --mainColorLight: #ce3682;
    --secondaryColor: #FF5F1F;
    --textColor: #eee;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: black;
    color: var(--textColor);
}


nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor); 
    visibility: hidden;
    opacity: 0;
}

.profile-icon {
    color: #eee;
}

.profile-icon :hover{
    cursor: pointer;
    color: #FF5F1F;
}


.Logo{
    height:230px;
    width: 250px;
}

.banner{
    display: flex;
    align-items:center;
    text-align:left;   
    height:360px; 
    background-color: black;
    background-size: contain;
    /* background-image: image-set("./Images/VortexGamingLogo.png"); */
    background-repeat: no-repeat;
}

.banner-img{   
    display: ruby;
    margin-left: auto;
    height:360px; 
    width: max-content;
    background-image: image-set("./Images/VortexGamingLogo.png"); 
}

.banner .btn-btn {
    display: ruby;
    margin-left: 350px;
}

.message{
    margin: 0 2rem;
    padding-top: 5px ;
    color: var(--textColor);
    text-decoration: none;
}

.parent {
    display:flex;

}

.Left-side-panel {
    padding: 3px;
    height: 100%;
    width: 40%;
    color: var(--textColor);

}

.Right-side-panel{
    display: ruby;
    text-align: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

.Game-container-outer{
    height: 500px;
    width: 250px;
    margin: 5px;
    background-color:#2e2e2a70; ;

}


.img {
    height: 200px;
    width: 200px;
    margin: 30px;
    background-color: #5c293a;

}

.heart-icon {
    display: flex;
    margin: 30px;
    color: #a00639;
    
}

.heart-icon :hover{
    color:#ce3682
}


.btn-btn{
    padding: 15px;
    border-radius: 30px;
    background-color: #161515;
}


.btn-btn a {
    color: #ffffff;
    text-decoration: none;
}

.btn-btn a:hover{
    color:  #FF5F1F;

}

.p{
    color: #ffffff;
}

@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top:0;
        left:0;
        height: 100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #FF5F1F;
        transition: 1s;
        transform: translateY(-100vh); /* transition for the page */

    }

    header .responsive_nav{
        transform: none;
    }

    .profile-icon {
        color: #eee;
        visibility: hidden;

    }
    
    .profile-icon :hover{
        cursor: pointer;
        color: #FF5F1F;
    }
    
    
    .banner-img{   
        display: ruby;
        margin-left: auto;
        height:360px; 
        width: max-content;
        background-image: image-set("./Images/VortexGamingLogo.png"); 
    }

    .banner .btn-btn {
        display: ruby;
        margin-left: auto;
    }

}

@media only screen and (max-width:520px){
    header .nav-btn{
        display: flex;
        visibility: visible;
        margin-top: 40px;
        opacity: 1;
        color: #161515;
    }

    header nav{
        visibility: hidden;
    }

    header .responsive_nav{
        transform: none;
    }

    .profile-icon {
        color: #eee;
        visibility: hidden;

    }
    
    .Logo {
        visibility: hidden;
    }    
    .message {
        visibility: hidden;
    }

    .banner{
        display: block;
        width: 450px;
        height: 450px;
        background-color: black;
    }

    .banner-img{   
        width:450px;
        background-image: image-set("./Images/VortexGamingLogo.png");  
    }

    .banner .btn-btn {
        margin:15px 80px;
        text-align: center;
        justify-content: center;
        height: 60px;
        width: 250px;
    }

    .Left-side-panel {
        visibility: hidden;
    }

    .Right-side-panel{
        width: ;
    }
}

